.details {
  grid-area: details;
  background-color: #f9fcff;
  padding: 20rem;
}

.inner-container {
  height: 100%;
  display: grid;
  grid-template-areas:
    "search info"
    "list info"
    "list graph";
  grid-template-columns: 2fr 5fr;
  grid-template-rows: min-content min-content 1fr;
  background-color: #ffffff;
  border-radius: 20rem;
  padding: 20rem;
  box-shadow: 2rem 2rem 10rem 0rem #2e2d2d18;
}

.search {
  background-color: #f0f3f7;
  border-radius: 20rem;
  padding: 10rem;
  margin: 0 30rem 10rem 10rem;
}

.search > input {
  border: none;
  background-image: none;
  background-color: transparent;
  color: #817c9b;
}

.search > input:focus {
  outline-width: 0;
}

.list-container {
  grid-area: list;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 10rem;
}

.list {
  position: absolute;
  top: 10rem;
  left: 10rem;
}

.list-item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 3rem;
  padding: 5rem 5rem;
  border-radius: 4rem;
}

.list-case-num {
  font-size: 15rem;
  text-align: left;
  font-weight: 500;
}
.list-name {
  font-size: 15rem;
  color: #817c9b;
  text-align: left;
}

.info {
  grid-area: info;
  background-color: #edeffd;
  padding: 20rem 40rem;
  border-radius: 20rem;
}

.info-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: min-content;
  padding: 5rem 0;
  align-items: center;
}

.info h6 {
  font-size: 15rem;
  font-weight: 500;
}

.info p {
  font-size: 20rem;
}

.graph {
  grid-area: graph;
  background-color: #ffffff;
  position: relative;
}

.graph .graph-title {
  position: absolute;
  top: 20rem;
  left: 0;
  font-size: 15rem;
  font-weight: 700;
}
