.news {
  grid-area: news;
  background-color: #f9fcff;
  padding: 30rem;
}

.news > p {
  font-size: 25rem;
  font-weight: 600;
}

.carousel-container {
  height: 330rem;
  position: relative;
  overflow-x: scroll;
  overflow-y: visible;
}

.carousel-container::-webkit-scrollbar {
  height: 15rem;
}

.carousel-container::-webkit-scrollbar-track {
  border: 3rem #f9fcff solid;
  background-color: #eff3f7;
  border-radius: 7.5rem;
}

.carousel-container::-webkit-scrollbar-thumb {
  background-color: #dfdaf0;
  height: 15rem;
  border-radius: 7.5rem;
}

.carousel {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-item {
  padding: 20rem;
  width: 400rem;
  height: 280rem;
  margin: 10rem 20rem 20rem 0;
  box-shadow: 2rem 2rem 10rem 0rem #2e2d2d18;
  background-color: #ffffff;
  border-radius: 20rem;
}

.carousel-item > .item-title {
  font-size: 20rem;
  font-weight: 600;
  letter-spacing: 1rem;
  line-height: 25rem;
}

.carousel-item > .item-summary {
  font-size: 13rem;
  color: #817c9b;
  letter-spacing: 1rem;
  line-height: 20rem;
  margin: 10rem 0;
}

.carousel-item > .item-date {
  font-size: 10rem;
  margin: 10rem 0;
  color: #817c9b;
  font-style: italic;
}

.carousel-item > a {
  font-size: 15rem;
  color: #817c9b;
  text-align: right;
  width: 100%;
  display: block;
  transition: color 0.2s ease-out;
}

.carousel-item > a:hover {
  color: #9577ff;
}
