.App {
  display: grid;
  grid-template-areas:
    ". header extra"
    "menu summary extra"
    "menu details extra";
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: min-content min-content 1fr;
  height: 100%;
}
