.App {
  display: grid;
  grid-template-areas:
    "fill-menu header extra"
    "menu summary extra"
    "menu details extra";
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 1fr 1fr auto-fill;
}
